<div *ngIf="game">
    <h2>{{ game.name }}</h2>
    <p>ID: {{ game.id }}</p>
    <p>Genre: {{ game.genre }}</p>
    <p>Release Date: {{ game.release_date }}</p>
    <p>Developer: {{ game.developer }}</p>
    <p>Minimum Memory: {{ game.minimum_memory }} GB</p>
    <p>Recommended Memory: {{ game.recommended_memory }} GB</p>
    <p>File Size: {{ game.file_size }} GB</p>
    <a [routerLink]="['/cpu', game.minimum_cpu.id]">Minimum CPU: {{ game.minimum_cpu.name }}</a>
    <br>
    <a [routerLink]="['/cpu', game.recommended_cpu.id]">Recommended CPU: {{ game.recommended_cpu.name }}</a>
    <br>
    <a [routerLink]="['/gpu', game.minimum_gpu.id]">Minimum GPU: {{ game.minimum_gpu.name }}</a>
    <br>
    <a [routerLink]="['/gpu', game.recommended_gpu.id]">Recommended GPU: {{ game.recommended_gpu.name }}</a>
  </div>
