body{
    overflow: hidden;
    height: 100%;
}

.wrapper{
    display: flex;
    overflow: hidden;
    height: 700px;
    margin: 0 auto;
    width: 100%;
    perspective: 400px;
}

.scroll{
    font-weight: bold;
    line-height: 2vw;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: rgb(228, 228, 8);
    font-size: 1.5vw;
    position: relative;
    animation: anim 70s linear forwards;
}

.scroll h1, h2{
    text-align: center;
}

.scroll a{
    color: rgb(228, 228, 8);
}

@keyframes anim {
    from{ top:500px; transform: translateZ(0px) rotateX(20deg);}
    to{ top: -5000px; transform: translateZ(-2000px) rotateX(22deg);}
}