<div class="container">
    <a [routerLink]="['/']">
        Logo
    </a>
    <div class="middle-link">
    <a [routerLink]="['/search']">
        Search
    </a>
    </div>
    <div class="middle-link">
        <ng-container *ngIf="!logged; else logoutTemplate">
            <a [routerLink]="['/login']">
            Login
            </a>
        </ng-container>
        <ng-template #logoutTemplate>
            <a [routerLink]="['/profile']">
                Profile
            </a>
            <a (click)="logout()">
            Logout
        </a>
        </ng-template>
    </div>
</div>