<body>
  <div class="container">
    <app-top-bar></app-top-bar>
      <router-outlet></router-outlet>
  </div>
</body>
<div class="end">
  <div class="end-links">
    <a href="https://github.com/n31t">Github</a>
  </div>

  <ng-container *ngIf="!logged">
    <h3>Login form</h3>
    <fieldset>
      <label for="username">Username: </label>
      <input type="text" id="username" [(ngModel)]="username">
    </fieldset>
    <fieldset>
      <label for="password">Password: </label>
      <input type="password" id="password" [(ngModel)]="password">
    </fieldset>
    <button (click)="login()">Login</button>
  </ng-container>


  <div class="end-links">
      <a>Adilov Amir  |  Zhexenbiyev Arsen  |  Napilov Ivan © 2024</a>
  </div>
